@{
    ViewData["Title"] = "Início";
}
<style>
    body {
        background-color: #628141; /* Use o código da cor que desejar */
    }
</style>
<div class="text-center">
        <img src="~/TAN Buster.png"
             alt="Logo da Livraria"
             style="max-width: 1000px;" />
        
</div>
