@{
    ViewData["Title"] = "Início";
}
<style>
    body {
        background-color: #628141; /* Use o código da cor que desejar */
    }
</style>
<div class="text-center">
        <img src="~/TAN Buster.png"
             alt="Logo da Livraria"
             style="max-width: 1200px;" />
        
</div>
<div class="card" style="width: 18rem;">
    <img src="~/Card1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Conheça mais sobre nós</h5>
        <p class="card-text"> A sua livraria Online,com você para você<p>
            <a href="https://localhost:7091/Home/Privacy" class="btn btn-primary btn-dark">Veja mais</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>