@{
    ViewData["Title"] = "";
}
<style>
    body {
        background-color: #40513B;
    }
</style>

<h1>@ViewData["Title"]</h1>
<img src="~/Privacy.png" class="mt-5 ms-4" style="max-width: 800px;" />

<img src="~/Product.png" class="ms-4" style="max-width: 1000px;" />
<img src="~/Brinde.png" class="ms-4" style="max-width: 1000px;" />
<img src="~/VENHA.png" class="ms-7" style="max-width: 1000px;" />